/*nav*/
.nav{
    width:100% ;
    height:79px ;
    border:1px solid #e4eaec;
  /*  background: #cccccc ;*/
}
.navContent {
    width:1170px ;
    height:100% ;
    background: #ffffff;
    margin:0 auto ;
}
.logo{
    width:150px ;
    height:50px ;
/*    background: #1c8bff ;*/
    float:left;
    margin-top:14px ;
}
.logo a{
    display: block;
    width:100% ;
    height:100% ;
}
.logo a img{
    width: 100%;
    height:100% ;
}
.navList{
    width:602px ;
    height:100%;
    /*background: #83c44e ;*/
    float: right;
}
.navList li {
    width:86px ;
    height:100% ;
    float:left ;
   /* background: #e400e8;*/
}
.navList li a{
    display: block;
    width:100% ;
    height:100% ;
    text-align: center ;
    line-height:79px ;
    font-size:14px ;
    transition:color linear 0.5s;    /*过渡时间0.5s*/
}
.navList li a:hover {
    color:#16b0dc ;
}


/*banner*/
.banner {
    width:100% ;
    height:120px ;
    background: #F1F1F1;
    overflow:hidden ;
}
.bannerContent{
    width:200px ;
    height:62px ;
   /* background:azure ;*/
    margin:35px auto ;
}
.bannerContent h1{
    font-size:35px ;
    color:#F67A82;
    text-align:center  ;
}

/*section*/
.section{
    width:100% ;
    height:1242px ;
    background:#f2f2f2;
    border:1px solid #f0f2f5; ;
    padding:35px 0 ;
}
.container{
    width:1170px ;
    height:1242px;
   /* background: #edd069;*/
    margin:15px  auto ;
}
/*left*/
.left{
    width:877.5px ;
    height:1242px ;
    background: #ffffff ;
    float: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.leftList {
    width:817.5px ;
    height:1242px ;
   /* background: #a4b8ff;*/
    margin:50px  auto 11px   ;
}
.leftListContent{
    width:817.5px ;
    height:191px ;
    margin-bottom:45px ;
   /* background: #ff6700 ;*/
    border-bottom: 1px solid #f0f2f5;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}
.leftListContentTp  {
    width:180px ;
    height:160px ;
    margin-top:15px;
}
.leftListContentTp a img{
    width:180px ;
    height:160px ;
}
.leftListContentBody {
    width:637.5px ;
    height:160px ;
    /*background: #8fffec;*/
    margin-top:15px;
}
.leftListContentBody h4{
    font-size:22px ;
    margin-bottom:20px ;
    color: #2a333c ;
    margin-left:15px ;
    font-weight:300;
}
.leftListContentBody h4:hover {
    color:#16b0dc ;
    text-decoration: underline ;
}
.leftListContentBody p{
    margin-left:15px ;
    font-size:16px ;
    font-weight:300 ;
    color: #76838f;
    line-height: 1.2;
    margin-right:5px ;

}
.leftListContentBody p.desc {
    margin-top:-10px ;
}

.leftListContentBody p.info {
    width:637.5px ;
    height: 24px;
   /* background: #16b0dc ;*/
    font-size: 16px;
    font-weight:300 ;
    color: #a3afb7;
}





/*right*/
.right {
    width:292.5px ;
    height:356.1px ;
   /* background: #83c44e ;*/
    float: right;
}
.rightContent {
    width:262.5px ;
    height:100% ;
    margin-left:30px ;
    background:#ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.searchBox {
    width:222.5px ;
    height:36px ;
    border:1px solid #F1F1F1 ;
    border-radius:50px ;
    margin:20px auto auto ;
    text-align: center ;
}
.searchBox i{
    line-height:36px ;
}
.content1,.content3 {
    width:222.5px ;
    height:1px;
    background:#F1F1F1 ;
    margin:20px auto  ;

}
.content2 {
    width:222.5px ;
    height:163.1px ;
    /*background: #1c8bff ;*/
    margin:20px auto ;
}
.content2 h3{
    font-size: 18px;
    color: #37474f;
}
.content2 ul{
    width:222.5px ;
    height:131.5px ;
    border:1px solid #F1F1F1 ;
    border-radius:3px ;
    margin-top:5px ;
}
.content2 ul li{
    width:222.5px ;
    height:44.5px;
    border-top:1px solid #F1F1F1 ;
    font-size:15px ;
    color:#2a333c;
    font-weight:500 ;

}
.content2 ul li a{
    margin-left:15px ;
    line-height: 44.5px;

}
.content2 ul li a:hover {
    text-decoration: underline ;
    color:#16b0dc ;
}
h4{
    color: #2a333c;
    font-size:16px ;
}
h4 a:hover{
    text-decoration: underline ;
    color:#16b0dc ;
}



/*footer*/
.footer{
    width:100% ;
    height:183.4px ;
    border-top:1px solid #f0f2f5; ;
    background:#f5f5f5;;
    //padding-bottom:20px ;
}
.footerNav{
    width:100% ;
    height:20px ;
    background: #fff; ;
}
.footerPic{
    width:100% ;
    height:56.8px ;
    background:#f5f5f5; ;
}
.footerPicContent {
    width:110px ;
    height:28px ;
    /*background: #83c44e ;*/
    display: flex;
    justify-content:space-between ;
    flex-wrap: nowrap;
    margin: auto;
    margin-top:10px ;
    line-height:30px ;
}
.footerPicContent img{
    width:29px ;
    height:28px ;
}
.footerPicContent img a{
    transition:color linear 0.5s;
}
.footerText{
    width:100% ;
    height:75.6px ;
   /* background:#F1F1F1 ;*/

}
.footerText-Content {
    width:1170px ;
    height:100% ;
    margin:-5px auto auto ;
}
.box1,.box2,.box3{
    width:100% ;
    height:25.2px ;
    text-align: center ;

}
p a{
    color: #62a8ea;
    font-size:14px ;
}
.box1 p a:hover{

    text-decoration:underline ;

}
p{
    font-size:14px ;
    line-height:1.8 ;
    color:#aaaaaa; ;
}
